body {
    background-image: url('close-up-of-silhouette-against-blue-sky-311039.jpg'); /*Make sure to add any additional pictures to the same folder.*/
    background-repeat: space; 
    background-position: center;
    height:100vh;
    background-size: cover;
}
